<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        version   = "1.0.0"
	    id = "br.com.customapps4you.staticapp"
        versionCode="1" 
	>
    <name>Static App</name>

    <description>
        Static App.
    </description>

    <author>
        Ricardo Tominaga
    </author>
	
	<icon src="img/57_57.png" gap:platform="ios" width="57" height="57" />
	<icon src="img/72_72.png" gap:platform="ios" width="72" height="72" />
	<icon src="img/114_114.png" gap:platform="ios" width="114" height="114" />
	
	<gap:splash src="img/320_480.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="img/640_960.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="img/640_1136.png" gap:platform="ios" width="640" height="1136" />
	
</widget>
