/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1, .fr-widget h2, .fr-widget h3, .fr-widget h4, .fr-widget h5, .fr-widget h6, .fr-widget p {
  margin: 0;
}
html, body, button, input, select, textarea {
  font-family:"PT Sans", Tahoma, Verdana, sans-serif;
}
body {
  font-size: 62.5%;
    background-image: url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-size:100%;

}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus, textarea:focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
}
.b-content.loading {
  opacity: 0;
}
.b-content:after {
  content:".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf {
  opacity: 0 !important;
}
.wf-inactive .fr-wf, .wf-active .fr-wf {
  opacity: 1;
}
.fr-container:after {
  content:".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del, .fr-text s, .fr-text strike {
  text-decoration: line-through;
}
.fr-text b, .fr-text strong, .fr-text h1, .fr-text h2, .fr-text h3, .fr-text h4, .fr-text h5, .fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
}
/** clear content around grid widget container, because it contains a lot of floated elements **/
 .fr-grid:before, .fr-grid:after {
  content:".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
  z-index: -1;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .6em;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: .25em;
  margin: 0 auto;
  padding: 2em 0 1em 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: 2.1em;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 1em;
  background: #242424;
}

/** ******************************** **/
/** End of Froont widget base styles **/
/** ******************************** **/

/** ************************* **/
/** Widget styles             **/
/** ************************* **/
.fr_cavutu {
  width:30.24132730015083%;
  margin:0 auto 0 auto
}
.fr_liregu {
  width:41.10105580693816%;
  margin:0 auto 0 auto
}
.fr_jijuco {
  width:30%;
  margin:0 auto 0 auto
}
.fr_jijuco .fr-video-inner {
  padding:0 0 56.25% 0;
  position:relative
}
@media screen and (max-width:1024px) {
  .fr_cavutu {
    width:41.2109375%;
    margin:0 auto 0 auto
  }
}
@media screen and (max-width:1024px) {
  .fr_liregu {
    width:48.6328125%;
    margin:0 auto 0 auto
  }
}
@media screen and (max-width:1024px) {
  .fr_jijuco {
    width:41.50390625%;
    margin:.3125em 0 0 29.296875%
  }
}
@media screen and (max-width:768px) {
  .fr_cavutu {
    width:54.94791666666667%;
    margin:0 auto 0 auto
  }
}
@media screen and (max-width:768px) {
  .fr_liregu {
    width:76.953125%;
    margin:4.0625em 0 0 13.020833333333334%
  }
}
@media screen and (max-width:768px) {
  .fr_jijuco {
    width:77.86458333333334%;
    margin:3.6875em 0 0 10.416666666666668%
  }
}
@media screen and (max-width:480px) {
  .fr_cavutu {
    width:58.333333333333336%;
    margin:0 auto 0 auto
  }
}
@media screen and (max-width:480px) {
  .fr_liregu {
    width:83.125%;
    margin:2.4375em 0 0 8.333333333333332%
  }
}
@media screen and (max-width:480px) {
  .fr_jijuco {
    width:83.54166666666667%;
    margin:1.5625em 0 0 10.208333333333334%
  }
}
@media screen and (max-width:320px) {
  .fr_cavutu {
    width:90%;
    margin:0 auto 0 auto
  }
}
@media screen and (max-width:320px) {
  .fr_liregu {
    width:90.625%;
    margin:2.8125em 0 0 5%
  }
}
@media screen and (max-width:320px) {
  .fr_jijuco {
    width:90%;
    margin:3.375em 0 0 3.125%
  }
}

/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/
@media screen and (max-width:320px) {
  .teste1 {
    width:90%;
    margin:3.375em 0 0 3.125%
  }
}
@media screen and (max-width:768px) {
  .teste1 {
    width:77.86458333333334%;
    margin:3.6875em 0 0 10.416666666666668%
  }
}
@media screen and (max-width:480px) {
  .teste1 {
    width:58.333333333333336%;
    margin:0 auto 0 auto
  }
}
@media screen and (max-width:1024px) {
  .teste1 {
    width:41.2109375%;
    margin:0 auto 0 auto
  }
}